
{% extends 'dashboard/base.html' %}
 {% load static %} 
 {% block title %}
 Student
{% endblock %}

 {% block content %}
<div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="app-page-title mb-0">Enrollments</h1>
    <div class="d-flex align-items-center gap-3">
        <!-- <form class="table-search-form row gx-1 align-items-center">
            <div class="col-auto">
                <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn app-btn-secondary">Search</button>
            </div>
        </form> -->
        <a class="btn app-btn-primary text-nowrap" href="{% url 'add_enrollment' %}">Create New Enrollments</a>
    </div>
</div>
				
				
				<div class="tab-content" id="orders-table-tab-content">
			        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					    <div class="app-card app-card-orders-table shadow-sm mb-5">
						    <div class="app-card-body">
							    <div class="table-responsive">
							        <table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">S.N</th>
												<th class="cell">Name</th>
												<th class="cell">Class</th>
												<th class="cell">Status</th>
											</tr>
										</thead>
										<tbody>
											{% for enrollment in enrollmentss %}
											<tr>
												<td class="cell">{{ forloop.counter }}</td>
												<td class="cell"><span class="truncate">{{ enrollment.first_name }} {{ enrollment.last_name }}</span></td>
												<td class="cell">{{ enrollment.academic_level }}</td>

												{% if enrollment.is_active %}
												<td><a class="btn btn-outline-success" href="{% url 'dashboard:enrollment_detail' enrollment.id %}">View</a></td>
												{% else %}
												<td><a class="btn btn-outline-secondary" href="{% url 'dashboard:enrollment_detail' enrollment.id %}">View</a></td>
												{% endif %}
												</tr>
											{% endfor %}
										</tbody>
									</table>
						        </div><!--//table-responsive-->
						       
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->
						
	    
	    
{% endblock %} 
{% block extra_scripts %}
<script src="{% static 'dashboard/assets/plugins/popper.min.js' %}"></script>
<script src="{% static 'dashboard/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Page Specific JS -->
<script src="{% static 'dashboard/assets/js/app.js' %}"></script>
{% endblock %}
